.best-service-box{
    width: 412px;
    height: 382px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.best-service-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-service-box p{
    color: #8F8F8F;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    margin-top: 55px;
    padding: 0 63px;
}